<!DOCTYPE html>
<html lang='en'>
<head>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>
	<title>[% page.title %]</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel='stylesheet' href='[% page.css %]'>
	<style>
		/* remove navbar default margin and rounded borders */
		.navbar {
			margin-bottom: 0;
			border-radius: 0;
		}
		/* set height of grid so .sidenav can be 100% */
		.row.content {height: 450px}
		/* set gray background color and 100% height */
		.sidenav {
			padding-top: 20px;
			background-color: #f1f1f1;
			height: 100%;
		}
		/* set black background colour, white text, and some padding */
		footer {
			background-color: #555;
			color: white;
			padding: 15px;
		}
		/* on small screens, set height to 'auto' for sidenav and grid */
		@media screen and (max-width: 767px) {
			.sidenav {
				height: auto;
				padding: 15px;
			}
			.row.content {height:auto;}
		}
	</style>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<script src='/js/login.js'></script>
	<script>
		// enable jquery tooltips
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
</head>
<body>
