<!DOCTYPE html>
<html lang='en'>
<head>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>
	<title>[% page.title %]</title>
	[%# <link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css'> %]
	<link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.min.css'>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel='stylesheet' href='[% page.css %]'>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js'></script>
	[%# <script src='https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js'></script> %]
	<script src='/js/login.js'></script>
</head>
<body>