[% INCLUDE htmlHeader.tt2 %]
<section id='pageMain' data-role='page' data-theme='a'>
	
[% INCLUDE sectionHeader.tt2 %]

	<article data-role='main' class='ui-content'>

	[% INCLUDE formLogin.tt2 %]
	
	[% INCLUDE formSignup.tt2 %]

	</article>

[% INCLUDE sectionFooter.tt2 %]
</section>

[% INCLUDE htmlFooter.tt2 %]

<!-- #EOF -->