<div class='container well'>

<div class='col-sm-6'>
<ul>
		<li>Username: </li>
		<li>Member since:</li>
		<li>Last visit:</li>
</ul>
</div>
<div class='col-sm-6'>
	<img src='/img/image.png' alt='profile' width='200' height='400'></img>
</div>

<div class='col-sm-12' id='collection'>
	<h1>collection</h1>
</div>

</div>
